 body {
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 192, 203);
    }

    h1 {
        font-size: 50px;
        letter-spacing: 4px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
    }

    h3 {
        font-size: 30px;
        letter-spacing: 4px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
    }


    .btn {
        padding: 30px 50px;
        margin: 5px;
        min-width: 200px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        font-family: cursive;
        font-size: 2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        text-transform: capitalize;
        background: url(/30-projects/sources/images/crash.png);
    }

    .container {
        text-align: center;
    }

    .btn:hover {
        color: lightpink;
    }

    /* .btn:active{
        background-size: 105%;
    } */
